#footBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    z-index: 100;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.footBarContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}